n8n/n8n-webhook-workflow.json
{
  "name": "Webhook Text Input → Response",
  "nodes": [
    {
      "parameters": {
        "path": "text-input",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "WebhookNode",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "result",
              "value": "={{$json.body.message}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "SetNode",
      "name": "Set Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={\n  \"status\": \"success\",\n  \"reply\": $json.result\n}",
        "responseCode": 200
      },
      "id": "RespondNode",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}
